@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1a202c;
  /* Tailwind gray-900 */
  color: #f7fafc;
  /* Tailwind gray-100 */
}

body {
  font-family: 'Inter', sans-serif;
}

.main-container {
  @apply flex h-full;
}

.fixed-toolbar {
  @apply fixed top-0 left-0 h-full w-48 bg-gray-800 p-4 text-gray-100;
}

.content-area {
  @apply ml-48 p-8 h-full flex-1 overflow-y-auto bg-gray-900 text-gray-100;
}

button {
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darken(#3490dc, 10%);
}

input[type="text"] {
  @apply p-2 text-lg mt-2;
}